In [9]:
import sqlite3
from sqlite3 import Error

In [144]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        select F.name, count(bookid),
        case when starttime like '2012-07%' then 'July'
        when starttime like '2012-08%' then 'Aug'
        else 'Sept'
        end as Month
        from Bookings as B
        left join Facilities as F
        on F.facid = B.facid
        where memid <> 0
        group by Month, F.facid
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)
        
def main():
    database = "sqlite_db_pythonsqlite.db"
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
        
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Tennis Court 1', 111, 'Aug')
('Tennis Court 2', 109, 'Aug')
('Badminton Court', 132, 'Aug')
('Table Tennis', 143, 'Aug')
('Massage Room 1', 153, 'Aug')
('Massage Room 2', 9, 'Aug')
('Squash Court', 85, 'Aug')
('Snooker Table', 154, 'Aug')
('Pool Table', 272, 'Aug')
('Tennis Court 1', 65, 'July')
('Tennis Court 2', 41, 'July')
('Badminton Court', 51, 'July')
('Table Tennis', 48, 'July')
('Massage Room 1', 77, 'July')
('Massage Room 2', 4, 'July')
('Squash Court', 23, 'July')
('Snooker Table', 68, 'July')
('Pool Table', 103, 'July')
('Tennis Court 1', 132, 'Sept')
('Tennis Court 2', 126, 'Sept')
('Badminton Court', 161, 'Sept')
('Table Tennis', 194, 'Sept')
('Massage Room 1', 191, 'Sept')
('Massage Room 2', 14, 'Sept')
('Squash Court', 87, 'Sept')
('Snooker Table', 199, 'Sept')
('Pool Table', 408, 'Sept')